@font-face {
    font-family: 'Muller';
    src: url("../fonts/MullerLight.ttf"),
         url("../fonts/MullerLight.woff") format("woff"),
         url("../fonts/MullerLight.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url("../fonts/PlayfairDisplay-Regular.ttf"),
         url("../fonts/PlayfairDisplay-Regular.woff") format("woff"),
         url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay';
    src: url("../fonts/PlayfairDisplay-Bold.ttf"),
         url("../fonts/PlayfairDisplay-Bold.woff") format("woff"),
         url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Light.ttf"),
         url("../fonts/Raleway-Light.woff") format("woff"),
         url("../fonts/Raleway-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Regular.ttf"),
         url("../fonts/Raleway-Regular.woff") format("woff"),
         url("../fonts/Raleway-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url("../fonts/Raleway-Medium.ttf"),
         url("../fonts/Raleway-Medium.woff") format("woff"),
         url("../fonts/Raleway-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.ttf'),
         url("../fonts/Raleway-SemiBold.woff") format("woff"),
         url("../fonts/Raleway-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.ttf'),
         url("../fonts/Raleway-Bold.woff") format("woff"),
         url("../fonts/Raleway-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.ttf'),
         url("../fonts/Raleway-ExtraBold.woff") format("woff"),
         url("../fonts/Raleway-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}







