$Muller: 'Muller', sans-serif;
$Playfair: 'PlayfairDisplay', serif;
$Raleway: 'Raleway', sans-serif;

$colorOrange: #f8a25a;
$colorWhite: #fff;
$colorDark: #1a292f;
$colorDarkBlue: #00203a;
$colorGray: #838383;
