.features {
    padding-top: 70px;
    padding-bottom: 90px;
    &__content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__item {
        margin-bottom: 30px;
        margin-top: -30px;
        max-width: 290px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__num {
        @include font(85px, $colorOrange, $Playfair);
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.28px;
        opacity: 0.26;
        margin-bottom: 15px;
    }
    &__title {
        @include font(24px, $colorDark);
        font-weight: 600;
        margin-bottom: 15px;
    }
    &__text {
        @include font(18px, $colorGray);
        font-weight: 300;
        letter-spacing: 0.64px;
    }
}


