.form {
    padding-bottom: 150px;
    &__body {
        padding: 80px 0 95px;
        background-image: linear-gradient(rgba(24, 44, 61,0.8) rgba(24, 44, 61,0.8)), url('../img/form-bg-320px.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    &__inner {
        @include flex(center,center,column);
        text-align: center;
        max-width: 450px;
        margin: 0 auto;
    }
    &__title {
        @include font(45px, $colorWhite, $Playfair);
        font-weight: 700;
        letter-spacing: 0.32px;
        margin-bottom: 25px;
    }
    &__subtitle {
        @include font(18px, $colorWhite);
        line-height: 1.33;
        letter-spacing: 0.64px;
        max-width: 280px;
        margin-bottom: 45px;
        opacity: .7;
    }
    &__group {
        width: 100%;
    }
    &__input {
        width: 100%;
        padding-bottom: 13px;
        margin-bottom: 58px;
        font-size: 16px;
        color: $colorWhite;
        border: none;
        border-bottom: 2px solid #fff;
        background: transparent;
        outline: none;
        opacity: .7;
        &::-webkit-input-placeholder {
            color: $colorWhite;
            opacity: .7;
        }
    }
    &__btn {
        @include font(18px, $colorWhite);
        font-weight: 800;
        margin-bottom: 20px;
        letter-spacing: 2.62px;
        text-transform: uppercase;
        width: 100%;
        padding: 1.4em 0;
        background-color: $colorOrange;
        border-radius: 5px;
        outline: none;
        border: none;
        cursor: pointer;
        transition: .3s;
        &:hover {
            color: $colorOrange;
            background-color: $colorWhite;
        }
    }
    &__conditions {
        @include font(16px, $colorWhite);
        font-weight: 300;
        letter-spacing: 0.8px;
        opacity: 0.7;
        max-width: 280px;
    }
    &__images {
        display: none;
    }
}