.stage {
    padding-bottom: 115px;
    &__wrap {
        padding-top: 50px;
    }
    &__item + &__item {
        margin-top: 40px;
    }
    &__title {
        position: relative;
        padding-bottom: 37px;
    }
    .title__num {
        display: none;
    }
    .title__word {
        @include font(24px, $colorDark);
        font-weight: 600;
        &:before {
            content: '';
            position: absolute;
            bottom: 25px;
            width: 41px;
            height: 1px;
            background-color: $colorDark;
        }
    }
    &__text {
        @include font(18px, $colorGray);
        font-weight: 300;
        line-height: 1.38;
        max-width: 400px;
    }
}
